

:root{
   
    --theme-color:#C3922E;
    --theme-color2:#032928;
    --theme-color3:#064442;
    --white-color:#FFFFFF;
    --text-color:#021C1B;
    --gray-color:#696969;
    --border-color:#D8DDE1;
    --cream-color:#F4EDE7;
    --theme-color:#C3922E;
    --theme-color2:#032928;
    --theme-color3:#064442;
    --theme-color4:#163C3C;
    --white-color:#FFFFFF;
    --white-light-color:#ffffff19;
    --text-color:#021C1B;
    --gray-color:#696969;
    --body-color:#696969;
    --border-color:#D8DDE1;
    --border-color2:#E6E8E8;
    --cream-color:#F4EDE7;
    --black-color:#020D0C;
    --deep-gray-color:#272B2F;
}