


// <<<<-----transition-3----->>>>
$transition-3:all 0.3s;
$transition-3-ease:all 0.3s ease;
$transition-3-ease-in:all 0.3s ease-in;
$transition-3-ease-in-out:all 0.3s ease-in-out;

// <<<<-----transition-3----->>>>
$transition-4:all 0.4s;
$transition-4-ease:all 0.4s ease;
$transition-4-ease-in:all 0.4s ease-in;
$transition-4-ease-in-out:all 0.4s ease-in-out;

// <<<<-----transition-3----->>>>
$transition-5:all 0.5s;
$transition-5-ease:all 0.5s ease;
$transition-5-ease-in:all 0.5s ease-in;
$transition-5-ease-in-out:all 0.5s ease-in-out;

// <<<<-----transition-3----->>>>
$transition-6:all 0.6s;
$transition-6-ease:all 0.6s ease;
$transition-6-ease-in:all 0.6s ease-in;
$transition-6-ease-in-out:all 0.6s ease-in-out;

// <<<<-----transition-3----->>>>
$transition-7:all 0.7s;
$transition-7-ease:all 0.7s ease;
$transition-7-ease-in:all 0.7s ease-in;
$transition-7-ease-in-out:all 0.7s ease-in-out;