@use '../../utils' as*;


.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 991;
    left: -100%;
    padding-bottom: 50px;
    transition: all 0.7s ease;
    z-index: 999;
    &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--text-color);
        opacity: 50%;
        top: 0;
        left: 0;

    }
    &-close{
        right: 10px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-color);
        color: var(--white-color);
        transition: $transition-3-ease;
        z-index: 999;
        & i{
            transition: $transition-3-ease;
        }
        &:hover{
            background-color: var(--theme-color2);
            border: 3px solid var(--theme-color);
            & i{
                transform: rotate(360deg);
            }
        }
    }
    &-logo{
        max-width: 200px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        & a{
            width: 100%;
            height: auto;
            & img{
                width: 100%;
                height: 100%;

            }
        }

    }
    &-area{
        position: relative;
        padding: 60px 40px 50px 40px;
        height: 100vh;
        width: 50%;
        min-width: 250px;
        background-color: var(--theme-color3);
        overflow-y: scroll;
        z-index: 999;
        .social{
            margin-bottom: 40px;
            margin-top: 30px;
            display: flex;
            gap: 20px;
            & a{
                color:var(--white-color);
                transition: all 0.3s ease;
                & i{
                    font-size: 25px;
                }
                &:hover{
                    color: var(--theme-color);
                }
            }
        }
        &.two{
            background-color: var(--text-color);
        }
       
    }
    &-accordion-item{

            background-color: transparent;
            border: none;
            margin: 0;
            width: 100%;

        }
    &-accordion-header{
                    @extend %d-flex,%justify-between;
                background-color: transparent;
                max-width: 250px;
                width: 100%;
                border: none;
                 margin: 0;
                 outline: 0;
                 border-bottom: 1px solid var(--body-color);
                 padding: 8px 0;
                 & a{
                    font-size: 16px;
                    font-weight: 600;
                    color: var(--white-color);
                    text-transform: capitalize;
                   
                 }
            }
    &-accordion-button{
                    @extend %d-flex,%justify-center,%item-center,%p-relative;
                    background-color: var(--theme-color);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: none;
                    margin: 0;
                    font-size: 0px;
                    color: #FFFFFF;
                    font-weight: 500;
                    font-family: $Pop;
                    text-transform: uppercase;
                    border: 2px solid var(--theme-color2);
                    transition: $transition-3-ease;
                    & i{
                        color: var(--white-color);
                       
                    }
                    .plus{
                        display: none;
                        font-size: 16px;
                        font-weight: 900;
                        font-style: bold;
                    }
                    .minus{
                        @extend %p-center;
                        position: absolute;
                        font-size: 13px;
                        font-weight: 400;

                    }
                &.collapsed{
                    background-color: transparent;
                    background-color: var(--theme-color2);
                    outline: none;
                    color: var(--black-color);
                    border: none;
                    .plus{
                        display: block;
                    }
                    .minus{
                        visibility: hidden;
                        opacity: 0;
                    }

                }
                 

                }
    &-accordion-body{
                border: none;
                margin-top: 0;
                padding: 0;
                width: 100%;
                & ul{
                    list-style: none;
                    margin-left: 20px;
                    width: 230px;

                    & li{
                     width: 100%;
                        padding: 8px;
                        border-bottom: 1px solid var(--body-color);
                        & a{
                            padding: 10px 0;
                            color: var(--white-color);
                            font-size: 16px;
                            text-transform: capitalize;
                            font-family: $Dm;
                            font-weight: 500;
                            transition: $transition-3-ease;
                             & i{
                                margin-right: 6px;
                            }
                        }
                        &:hover{
                            & a{
                                color: var(--theme-color);
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
    
    &-active{
       @include breakpoint(max-lg){
        left: 0;
        opacity: 1;
        visibility: visible;
       }
    }
}