@use '../utils' as *;


/*----------------------------------------*/
/*  1.2 Common Classes
/*----------------------------------------*/
body{
	background-color: #ECECEC;
	& ul{
		margin: 0;
		padding: 0;
	}
}

#main3{
	background-color:#F6F6F6 ;
}

.bg-green{
	background-color: var(--green-clr);
}
.bg-yellow{
	background-color: var(--yellow-clr);
}
.bg-blue{
	background-color: var(--blue-clr);
}
.bg-orange{
	background-color: var(--orange-clr);
}
.bg-gray  {
	background-color: var(--gray-clr);
}
.bg-cream  {
	background-color: var(--cream-clr);
}
.bg-white  {
	background-color: var(--white-clr);
}


.green{
	color: var(--green-clr);
}
.yellow{
	color: var(--yellow-clr);
}
.blue{
	color: var(--blue-clr);
}
.orange{
	color: var(--orange-clr);
}
.gray  {
	color: var(--gray-clr);
}
.white {
	color: var(--white-clr);
}

.d-none{
	display: none;
}
.d-block{
	display: block;
}

.sm-none{
	@include breakpoint(max-sm){
		display: none;
	}
}
.md-none{
	@include breakpoint(max-lg){
		display: none;
	}
}
.sm-block{
	@include breakpoint(max-sm){
		display: block;
	}
}
.md-block{
	@include breakpoint(max-lg){
		display: block;
	}
}

.w-100{
	width: 100%;
}
.mw-100{
	max-width: 100%;
}
.h-100{
	height: 100%;
}
.bottom-0{
	bottom: 0;
}
.top-0{
	top: 0;
}
.left-0{
	left: 0;
}
.right-0{
	right: 0;
}



.cover{
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden;
}
.visible {
    overflow:visible;
}
.clear{
    clear: both;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align:right;
}
.item-center{
	align-items: center;
}
.justify-end{
	justify-content: end;
}
.justify-start{
	justify-content: start;
}
.justify-between{
	justify-content: space-between;
}
.justify-evenly{
	justify-content: space-evenly;
}
.justify-around{
	justify-content: space-around;
}

.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}

.z-index-11{
	z-index: 11;
}
.bg-pos-end{
	background-position: bottom;
	background-repeat: no-repeat;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.justify-between{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.md-grid{
	@include breakpoint(max-lg){
	display: grid;
	}
}
.flex{
	display: flex;
}
.sm-block{
	@include breakpoint(max-sm){
	display:block;
	}
}
.md-block{
	@include breakpoint(max-lg){
	display:block;
	}
}
.md-reverse{
	@include breakpoint(max-lg){
	flex-direction: column-reverse;
	}
}
.sm-reverse{
	@include breakpoint(max-sm){
	flex-direction: column-reverse;
	}
}
.sm-flex-col{
	@include breakpoint(max-sm){
	flex-direction: column;
	}
}
.md-inline-block{
	@include breakpoint(max-lg){
	display: inline-block;
	}
}
.lg-inline-block{
	@include breakpoint(max-xl){
	display: inline-block;
	}
}

.slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.slide-element {
	width: auto;
	display: inline-block;
}

.bg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.background-image,
[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.solid-bg {
	&.jarallax{
		height: 800px;
		@media #{$lg}{
			height: 600px;
		}
		@media #{$md}{
			height: 400px;
		}
		@media #{$xs}{
			height: 300px;
		}
	}
}