@use '../utils' as *;


/*----------------------------------------*/
/*  1.3 Default Spacing
/*----------------------------------------*/

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 140 {
    .mt-#{1 * $i}{margin-top: 1px * $i;}
}
/*-- Margin Bottom --*/
@for $i from 1 through 140 {
    .mb-#{1 * $i}{margin-bottom: 1px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 100 {
    .ml-#{1 * $i}{margin-left: 1px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 100 {
    .mr-#{1 * $i}{margin-right: 1px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 150 {
    .pt-#{1 * $i}{padding-top: 1px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 150 {
    .pb-#{1 * $i}{padding-bottom: 1px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 130 {
    .pl-#{1 * $i}{padding-left: 1px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 100 {
    .pr-#{1 * $i}{padding-right: 1px *$i;}
}

.sec-pb-pt{
    padding: 120px 0;
     @include breakpoint(max-lg){
        padding: 80px 0;
    }
    @include breakpoint(max-lg){
        padding: 60px 0;
    }
}

.sec-pt{
    padding-top: 120px;
    @include breakpoint(max-lg){
        padding-top: 80px;
    }
    @include breakpoint(max-lg){
        padding-top: 60px;
    }
   
}
.sec-pb{
    padding-bottom: 120px;
    @include breakpoint(max-lg){
        padding-bottom: 80px;
    }
    @include breakpoint(max-lg){
        padding-bottom: 60px;
    }
   
}

.mt-40{
    margin-top: 40px;
    @include breakpoint(max-md){
        margin-top: 30px;
    }
}
.mb-40{
    margin-bottom: 40px;
    @include breakpoint(max-md){
        margin-bottom: 30px;
    }
}
.mt-60{
    margin-top: 60px;
    @include breakpoint(max-lg){
        margin-top: 30px;
    }
}
.mb-60{
    margin-bottom: 60px;
    @include breakpoint(max-lg){
        margin-bottom: 40px;
    }
}
.mt-80{
    margin-top: 80px;
    @include breakpoint(max-lg){
        margin-top: 40px;
    }
}
.mb-80{
    margin-bottom: 80px;
    @include breakpoint(max-lg){
        margin-bottom: 40px;
    }
}

.mt-120{
    margin-top: 120px;
   
}

.mb-120{
    margin-bottom: 120px;
   
}






