@use '../../utils' as *;


.breadcumb{
    &-wrapper{
        padding-top: 265px;
        padding-bottom: 160px;
        @include breakpoint(max-lg){
            padding-top: 180px;
            padding-bottom: 100px;
        }
        @include breakpoint(max-lg){
            padding-top: 160px;
            padding-bottom: 100px;
        }
    }
    &-title{
        font-family: $Play;
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 74px;
        color: var(--white-color);
        text-transform: capitalize;
        @include breakpoint(max-lg){
           font-size: 45px;
           line-height: 50px;
        }
        @include breakpoint(max-sm){
           font-size: 38px;
           line-height: 40px;
        }
    }
    &-text{
        margin-top: 20px;
        text-transform: uppercase;
        font-family: $Dm;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: var(--white-color);
        & a{
            color: var(--white-color);
            transition: $transition-3-ease;
            &:hover{
                color: var(--theme-color);
            }
        }
        & i{
            margin: 0 7px;
        }

    }
}


