@use '../../utils' as *;





.cases{
        overflow: hidden;
    &-wrapper{
        height: 500px;
     position: relative;
     margin-right: -300px;  
     
     overflow: hidden;
   
   
    }
    .container-s{
        max-width: 1576px;
        overflow: hidden;
        margin-right: 0;
        padding-right: 0;
        @include breakpoint(min-2600){
            max-width: 1320px;
            margin-right: auto;
            padding-right: 0;
        }
        @include breakpoint(min-1920){
            max-width: 1620px;
             margin-right: 0;
            padding-right: 0;
        }
        @include breakpoint(min-1900){
            max-width: 1620px;
        }
        @include breakpoint(min-1880){
            max-width: 1600px;
        }
        @include breakpoint(min-1860){
            max-width: 1590px;
        }
        @include breakpoint(min-1840){
            max-width: 1570px;
        }
        @include breakpoint(min-1820){
            max-width: 1560px;
        }
        @include breakpoint(min-1800){
            max-width: 1550px;
        }
        @include breakpoint(min-1780){
            max-width: 1540px;
        }
        @include breakpoint(min-1760){
            max-width: 1530px;
        }
        @include breakpoint(min-1740){
            max-width: 1520px;
        }
        @include breakpoint(min-1720){
            max-width: 1510px;
        }
        @include breakpoint(min-1700){
            max-width: 1500px;
        }
        @include breakpoint(min-1680){
            max-width: 1500px;
        }
        @include breakpoint(min-1660){
            max-width: 1490px;
        }
        @include breakpoint(min-1640){
            max-width: 1480px;
        }
        @include breakpoint(min-1620){
            max-width: 1480px;
        }
        // @include breakpoint(min-1600){
        //     max-width: 1450px;
        // }
        // @include breakpoint(min-1450){
        //     max-width: 1350px;
        // }
        // @include breakpoint(min-1300){
        //     max-width: 1450px;
        // }
        // @include breakpoint(min-1200){
        //     max-width: 1450px;
        // }
        @include breakpoint(max-xxxl){
            max-width: 1350px;
            margin-right: auto;
            padding-right: 15px;
        }
    }
    //   .tab-content{
    //     padding-right: -300px;
    //      margin-right: -300px;  
    //     // position: absolute;
    //     width: 100%;
    //     overflow: hidden;
    //     .tab-pane{
    //         overflow: hidden;
    //         .swipper{
    //             overflow: hidden;
    //         }
    //     }
    //  }
    
    &-area{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        overflow: hidden;
    }
    &-item{
        width: 100%;
        height: 100%;
        position: relative;
        border-radius:  20px;
        // overflow: hidden;
        max-width: 420px;
        border: none;
        z-index: 1;
        // background-color: var(--black-color);
        @include breakpoint(max-lg){
            margin-right: 10px;
        }
            
        .arrow-wrap{
            position: absolute;
            right: -1px;
            top: -1px;
            border-radius: 0 0 0 50%;
            background-color: var(--white-color);
            border-bottom: 15px solid var(--white-color);
            border-left: 15px solid var(--white-color);
            z-index: 9;
            @include breakpoint(max-sm){
                right: 0;
            }
            .arrow{
            @extend %d-flex,%item-center,%justify-center;
            overflow: hidden;
            margin-top: 2px;
            width: 70px;
            height:70px;
            border-radius: 50%;
            background-color: var(--theme-color);
            color: var(--white-color);
            font-size: 20px;
            transition: $transition-6-ease;
            // border: 10px solid  var(--white-color);
            & path{
                fill: var(--white-color);
            }

        }
        &.four{
            background-color: var(--black-color);
            border-bottom: 15px solid var(--black-color);
            border-left: 15px solid var(--black-color);
            // .arrow{
            //     border: 10px solid var(--black-color);
            // }
        }
        }
        &::before{
            position: absolute;
            content: " ";
            width: 100%;
            height: 0;
            left: 0;
            bottom: 0;
            background-color: var(--text-color);
            opacity: 70%;
            transition: $transition-6-ease;
            z-index: 2;
            border-radius: 20px;
        }
        &-text{
            position: absolute;
            bottom: 0;
            left: 40px;
            visibility: hidden;
            opacity: 0;
            transition: $transition-3-ease;
            z-index: 999;
            & span{
                font-family: $Dm;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: var(--white-color);
                text-transform: capitalize;

            }
            & a{
                display: block;
                font-family: $Play;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                color: var(--white-color);
                text-transform: capitalize;
                transition: $transition-3-ease;
                &:hover{
                    color: var(--theme-color);
                }

            }
        }
        &:hover{
            &::before{
                height: 100%;
            }
            .arrow{
                background-color: none;
                background: linear-gradient(180deg, #09827D 0%, #021C1B 100%);
                transform: rotate(-45deg);
            }
            .cases-item-text{
                visibility: visible;
                opacity: 1;
                bottom: 40px;
                
            }
        }
        &.grid-item{
        height: 100%;
        overflow: hidden;
         }   

    
    }
    &-thumb{
       border-radius: 0 50px 0 0 ;
        position: relative;
        // overflow: hidden;
        border-radius: 20px;
        & img{
            border-radius: 20px;
            overflow: hidden;
        }
        &::before{
            position: absolute;
            content: " ";
            width: 40px;
            height: 40px;
            right: 79px;
            top: -3px;
            background: radial-gradient( circle 38px at  bottom left,#0000 98% ,#FFFF);
           
            z-index: 9;
            }
        &::after{
            position: absolute;
            content: " ";
            width: 40px;
            height: 40px;
            right: -3px;
            top: 82px;
            background: radial-gradient( circle 38px at  bottom left,#0000 98% ,#FFFF);
            z-index: 9;

            }
        // & img{
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     clip-path: path("M40 0 H260 C300 0 340 40 340 80 V260 C340 300 300 340 260 340 H80 C40 340 0 300 0 260 V40 C0 0 40 0 40 0 Z");
        // }
            &.four{
                &::before{
                     background: radial-gradient( circle 38px at  bottom left,#0000 98% , var(--black-color));
                }
                &::after{
                     background: radial-gradient( circle 38px at  bottom left,#0000 98% , var(--black-color));
                }
            }
    }
    
    &-filters{ 
        @extend %d-flex,%justify-end,%item-center,%p-relative;
        gap: 35px;
        margin-top: 40px;
        list-style: none;
        @include breakpoint(max-lg){
            justify-content: start;
            margin-top: 0;
            margin-bottom: 40px;
        }
        @include breakpoint(max-sm){
            gap: 30px;
            row-gap: 10px;
            flex-wrap: wrap;
        }
        &::before{
            position: absolute;
            content: " ";
            width: 475px;
            height: 2px;
            background-color: var(--body-color);
            bottom: 0;
            right: 0;
            z-index: 1;
             @include breakpoint(max-lg){
                right: inherit;
                left: 0;
            }
             @include breakpoint(max-sm){
                display: none;
            }
        }
        
        .filter-button{
            font-size: 18px;
            font-family: $Dm;
            font-weight: 600;
            color: var(--body-color);
            border: none;
            background-color: transparent;
            text-transform: capitalize;
            padding-bottom: 20px;
            z-index: 990;
            border-bottom: 2px solid transparent ;
            @include breakpoint(max-sm){
                padding-bottom: 5px;
            }
            &:hover{
                color: var(--theme-color);
                border-bottom:2px solid var(--theme-color) ;
                z-index: 9;
            }
            &.active{
                 color: var(--theme-color);
                border-bottom:2px solid var(--theme-color) ;
                z-index: 9;
            }
            
        }
        &.four{
            .filter-button{
                color: var(--white-color);
                transition: $transition-3-ease;
                  &:hover{
                color: var(--theme-color);
                border-bottom:2px solid var(--theme-color) ;
                z-index: 9;
            }
            &.active{
                 color: var(--theme-color);
                border-bottom:2px solid var(--theme-color) ;
                z-index: 9;
            }
            }
        }
    }
    
    
} 

.cases-details{
    &-text{
        
        & h2{
            font-size: 48px;
            line-height: 40px;
            font-family: $Play;
            font-weight: 700;
            color: var(--text-color);
            margin-bottom: 30px;
            @include breakpoint(max-lg){
                font-size: 38px;
                line-height: 44px;
            }
            @include breakpoint(max-sm){
                font-size: 34px;
                line-height: 38px;
            }
            @include breakpoint(max-xsm){
                font-size: 30px;
                line-height: 36px;
            }
        }
        & h3{
            font-size: 30px;
            line-height: 40px;
            font-family: $Play;
            font-weight: 700;
            color: var(--text-color);
            margin-bottom: 15px;
        }
        & p{
            font-size: 16px;
            line-height: 26px;
            font-family: $Dm;
            font-weight: 400;
            color: var(--body-color);
        }
        &-right{
            border-radius: 5px;
            background-color: var(--cream-color);
            padding: 40px;
            margin-left: 40px;
            max-width: 330px;
            width: 100%;
            height: auto;
            @include breakpoint(max-lg){
                margin: 30px 0;
            }
            & h3{
                font-size: 24px;
                line-height: 0;
                padding-bottom: 30px;
                position: relative;
                margin-bottom: 0;
                &::after{
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 1px;
                    background-color: var(--border-color);
                    bottom: -1px;
                    left: 0;
                    z-index: 1;
                }
                &::before{
                    position: absolute;
                    content: " ";
                    width: 40px;
                    height: 1px;
                    background-color: var(--theme-color);
                    bottom: -1px;
                    left: 20px;
                    z-index: 99;
                }
            }
            & p{
                font-size: 14px;
                line-height: 20px;
                font-family: $Dm;
                font-weight: 500;
                color: var(--body-color);
                text-transform: capitalize;
                padding-top: 15px;
            }
            & span{
                display: block;
                font-size: 18px;
                line-height: 30px;
                font-family: $Play;
                font-weight: 700;
                color: var(--text-color);
                border-bottom: 1px solid var(--border-color);
                text-transform: capitalize;
                padding-bottom: 15px;
                &:nth-last-child(1){
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }
    }
    &-thumb{
        border-radius: 10px;
        margin: 30px 0;
        @include breakpoint(max-md){
            margin: 15px 0;
            height: 300px;
            width: 100%;
        }
        @include breakpoint(max-sm){
            margin: 15px 0;
            height: 250px;
            width: 100%;
        }
        @include breakpoint(max-xsm){
            margin: 15px 0;
            height: 200px;
            width: 100%;
        }
    }
    &-btn-wrapper{
        margin-top: 30px;
        padding: 30px 0;
        border-top: 1px solid var(--body-color);
        border-bottom: 1px solid var(--body-color);
        display: flex;
        justify-content: space-between;
         @include breakpoint(max-sm){
                padding: 20px;
            }
        .btn-area{
            gap: 20px;
            @include breakpoint(max-sm){
                 gap: 10px;
                align-items: center;
            }

        }
        .btn-wrap{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: var(--theme-color);
            border: none;
            transition: $transition-3-ease;
            
            
            &:hover{
                background-color: var(--text-color);
            }
            @include breakpoint(max-md){
                    width: 45px;
                    height: 45px;
                    & i{
                        font-size: 18px;
                    }
                }
        }
        .info{
            & span{
                font-size: 20px;
                line-height: 30px;
                font-family: $Play;
                font-weight: 700;
                color: var(--text-color);
                @include breakpoint(max-md){
                    font-size: 16px;
                    line-height: 24px;
                }
                @include breakpoint(max-sm){
                   display: none;
                }
            }
            & p{
                font-size: 16px;
                line-height: 26px;
                font-family: $Dm;
                font-weight: 500;
                color: var(--body-color);
            }
        }
    }
    .row{
        background-color: var(--white-color);
    }
}




