@use '../../utils' as *;



.checkout{
    &-form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        @include breakpoint(max-sm){
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &-input{
            width: 100%;
            height: 60px;
            border-radius: 5px;
            padding: 0 20px;
            border: 1px solid var(--border-color);
            @include breakpoint(max-sm){
                height: 50px;

                }
           
            & input,select{
                width: 100%;
                height: 100%;
                border: none;
                outline: 0;
                &::placeholder{
                    font-size: 16px;
                    font-family: $Dm;
                    font-weight: 500;
                    color: var(--text-color);
                    text-transform: capitalize;
                }
                
            }
            & select{
                text-transform: capitalize;
                
                & option{
                    max-width: 400px;
                     font-size: 16px;
                    font-family: $Dm;
                    font-weight: 500;
                    color: var(--text-color);
                    text-transform: capitalize;
                }
            }
            &:nth-last-child(3){
                grid-column: span 2;
                @include breakpoint(max-sm){
                grid-column: span 1;

                }
            }

        }
    }
    &-details{
        & h2{
            font-size: 36px;
            line-height: 0;
            font-weight: 700;
            font-family: $Play;
            color: var(--text-color);
            margin-bottom: 40px;
            @include breakpoint(max-sm){
                font-size: 32px;
            }
        }
        &-checkbox{
            accent-color: var(--theme-color);
            background-color: transparent;
            margin-right: 10px;
            
        }
        & p{
            font-size: 16px;
            line-height: 26px;
            font-weight: 500;
            font-family: $Dm;
            color: var(--body-color);
            &:nth-last-child(3){
                margin-top: 30px;
            }
        }
        & span{
            display: block;
            font-size: 24px;
            line-height: 0;
            font-weight: 700;
            font-family: $Dm;
            color: var(--text-color);
            margin:35px 0;

        }
    }
    &-summary{
        padding: 40px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        @include breakpoint(max-lg){
            margin-top: 40px;
        }
        @include breakpoint(max-xsm){
            padding: 30px 20px;
        }
        & h3{
            font-size: 30px;
            font-family: $Dm;
            font-weight: 700;
            color: var(--text-color);
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid var(--border-color);
            text-transform: capitalize;
            position: relative;
            &::after{
                position: absolute;
                content: " ";
                width: 66px;
                height: 3px;
                background-color: var(--theme-color3);
                opacity: 80%;
                left: 0;
                bottom: 0;
            }
        }
        & p{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            font-size: 14px;
            line-height: 24px;
            font-family: $Dm;
            font-weight: 500;
            color: var(--body-color);
            padding-bottom: 15px;
            @include breakpoint(max-xl){
                gap: 10px;
            }
            & i{
                display: inline-block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid var(--border-color);
                margin-right: 8px;
                transition: $transition-3-ease;
                transform: translateY(3px);
                &.checkout-checkbox1{
                    &-active{
                        border: 3px solid var(--theme-color);
                    }
                }
                &.checkout-checkbox2{
                    &-active{
                        border: 3px solid var(--theme-color);
                    }
                }
            }
            &:nth-last-child(9){
                border-bottom: 1px solid var(--border-color);
            }
            
            &:nth-last-child(2),&:nth-last-child(3){
               display: block;
               padding-bottom: 5px;
            }
           
        }
        & b{
            display: flex;
            justify-content: space-between;
            gap: 100px;
            font-size: 16px;
            line-height: 24px;
            font-family: $Dm;
            font-weight: 500;
            color: var(--body-color);
            padding-bottom: 15px;
            &:nth-last-child(6){
                border-bottom: 1px solid var(--border-color);
                margin-bottom: 15px;
            }
            &:nth-last-child(8){
                padding-top: 15px;
            }
           
        }
        .payment-method{
            display: flex;
            justify-content: space-between;
            padding: 20px 17px;
            background-color: var(--cream-color);
            margin-bottom: 20px;
            gap: 10px;
            .img{
                width:70px ;
                height: 40px;
                border-radius: 3px;
                @include breakpoint(max-xsm){
                    height: 35px;
                }
            }
        }
        .payment-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: 40px;
            border-radius: 30px;
            background-color: var(--theme-color3);
            color: var(--white-color);
            font-size: 16px;
            font-family: $Dm;
            font-weight: 800;
            text-transform: uppercase;

        }
    }
}