@use '../../utils' as *;




.counter{
    display: flex;
    @include breakpoint(max-md){
            display: grid;
            grid-template-columns: 1fr 1fr;
            left: 50%;
            transform: translate(-50% ,100px);
        }
    &-item{
        @extend %d-flex,%item-center, %justify-center;
        background-color: var(--theme-clr2);
        width: 195px;
        height: 130px;
        flex-direction: column;
        @include breakpoint(max-lg){
            width: 170px;
        }
        @include breakpoint(max-md){
            height: 100px;
        }
        @include breakpoint(max-xsm){
            width: 160px;
        }
        .count{
            display: inline-block;
            font-family: $Play;
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 46px;
            color: var(--white-clr);
             @include breakpoint(max-sm){
                    font-size: 40px;
            }
        }
        & span{
              display: inline-block;
            font-family: $Play;
            font-weight: 500;
            font-size: 35px;
            line-height: 46px;
            color: var(--white-clr);
              @include breakpoint(max-sm){
                    font-size: 30px;
            }
        }
        & p{
            margin-top: 20px;
            font-family: $Dm;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: var(--white-clr);
            @include breakpoint(max-md){
                margin-top: 5px;
            }
        }

       &:nth-child(2){
        background-color: var(--theme-clr3);
       }
       &:nth-child(3){
        @include breakpoint(max-md){
            background-color: var(--theme-clr3);
        }
       }
       &:nth-child(4){
        background-color: var(--theme-clr3);
        @include breakpoint(max-md){
            background-color: var(--theme-clr2);
        }
       }
       &.two{
           background-color: transparent;
        }
       
    
    }
    .two{
        margin-top: -70px;
    }
    &-3{
        @extend %d-flex,%item-center, %justify-around;
        height: 200px;
        transform: translateY(-50%);
        border-radius: 100px;
        @include breakpoint(max-md){
            display: flex;
            // grid-template-columns: 1fr 1fr;
            // left: 50%;
            // transform: translate(-50% ,100px);
        }
       
    }
}

.counter-2{
    @extend %d-flex,%justify-around ,;
    margin-top: -70px;
    @include breakpoint(max-xl){
        margin-top: 70px;
    }
     @include breakpoint(max-sm){
                margin-top: 40px;
            }
    
    & span{
        font-family: $Dm;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 26px;
        color: var(--text-color);
        text-transform: uppercase;
        @include breakpoint(max-sm){
                font-size: 24px;
            }
    }
    & p{
        font-family: $Dm;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: var(--gray-color);
        margin-top: 10px;
        text-transform: capitalize;
        @include breakpoint(max-xl){
                font-size: 14px;
                line-height: 18px;
            }
    }
    &.three{
        @extend %d-flex,%item-center, %justify-evenly;
        transform: translateY(-50%);
        height: 200px;
        width: 100%;
        border-radius: 100px;
       @include breakpoint(max-md){
            border-radius: 20px;
            height: 170px;
        }
         .item-three{
        @extend %d-flex,%item-center, %justify-center,%flex-col;
         border-right: 2px solid var(--white-color);
         width: 100%;
         height: 100%;
         padding: 0 20px;
         position: relative;
         @include breakpoint(max-md){
            padding: 0 10px;
            }
         @include breakpoint(max-xsm){
            padding: 0 5px;
            }
          & span{
        font-size: 48px;
        color: var(--white-color);
        @include breakpoint(max-md){
            font-size: 35px;
        }
        @include breakpoint(max-sm){
            font-size: 28px;
        }
        }
        & p{
            margin-top: 20px;
            color: var(--white-color);
        }
        
        
         &::before{
            position: absolute;
            content: " ";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--white-color);
            right: -6px;
         }
          &:nth-last-child(1){
            border-right: none;
            &::before{
                display: none;
            }
         }
      }
    
    }
}







    
