@use '../../utils' as *;




.error{
    &-wrapper{
        padding: 0 50px;
        @include breakpoint(max-sm){
                padding: 0 30px;
            }
    }
    &-text{
        & h2{
            font-size: 36px;
            font-weight: 700;
            font-family: $Play;
            color: var(--text-color);
            margin-top: 60px;
            @include breakpoint(max-sm){
                margin-top: 40px;
            }
            @include breakpoint(max-sm){
                font-size: 28px;
            }
        }
        & p{
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            font-family: $Dm;
            color: var(--body-color);
            margin: 25px 0;
            @include breakpoint(max-md){
                & br{
                    display: none;
                }
            }
        }
    }
}