@use '../../utils' as*;




.faq{
    background-color: var(--cream-color);
    &-thumb-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        grid-row:  3 / 1;
        @include breakpoint(max-xl){
            gap: 15px;
        }
        @include breakpoint(max-lg){
            margin-bottom: 40px;
        }

    }
    &-thumb{
        border-radius: 10px;
        height: 170px;
        width: 100%;
        &:nth-child(1){
            grid-row: span 2;
            height: 374px;
             @include breakpoint(max-sm){
                height: 220px;
            }
        }
        &:nth-child(2){
            grid-row: span 1;
            grid-column: span 1;
              @include breakpoint(max-sm){
                height: 120px;
            }
        }
        &:nth-child(3){
             grid-row: span 2;
            height: 296px;
              @include breakpoint(max-sm){
                height: 180px;
            }
        }
        &:nth-child(4){
            @include breakpoint(max-lg){
                height: 100px;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
              @include breakpoint(max-sm){
                height: 80px;
            }

        }
        .icon-box{
            top: -20px;
            right: -15px;
            @include breakpoint(max-xl){
                width: 40px;
                height: auto;
                top: -13px;
                right: -10px;
            }
        }
    }
    &-accordion{
        &-item{
            background-color: var(--white-color);
            border-radius: 10px;
            margin-bottom: 30px;
            @include breakpoint(max-md){
                margin-bottom: 20px;
            }
            &.four{
                background-color: var(--white-light-color);
            }
            &.inner{
                box-shadow: 0 6px 30px #00000014;
            }
        }
        &-header{
            margin-bottom: 0;
        }
        &-button{
                width: 100%;
                position: relative;
                font-family: $Play;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 34px;
                color: var(--text-color);
                background-color: transparent;
                padding: 20px 60px 20px 30px;
                border: none;
                text-align: left;
                margin: 0;
                   @include breakpoint(max-sm){
                    font-size: 18px;
                    line-height: 26px;
                    padding: 10px 50px 10px 20px;

                     }
                   @include breakpoint(max-xsm){
                    font-size: 16px;
                    line-height: 22px;
                    padding: 10px 40px 10px 20px;
                     }
                & i{
                    position: absolute;
                    right: 30px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 16px;
                    color: var(--body-color);
                    transition: $transition-3-ease;
                    @include breakpoint(max-sm){
                        right: 20px;
                    }
                .eye{
                opacity: 0;
                visibility: hidden;
               }
               &.plus{
                padding: 3px 7px ;
                background-color: var(--theme-color);
                border-radius: 50%;
                color: var(--white-color);
                font-weight: 900;
                font-size: 22px;
                 @include breakpoint(max-sm){
                    font-size: 16px;
                    padding: 4px 7px;
                    line-height: 16px;
                }
               }
                }
            &.collapsed{
                border: none;
               .eye{
                opacity: 1;
                visibility: visible;
                color: var(--theme-color);
               }
               .eye-slash{
                opacity: 0;
                visibility: hidden;
               }
                .plus{
                padding: 3px 7px ;
                background-color: var(--gray-color);
                border-radius: 50%;
                color: var(--white-color);
                font-weight: 900;
                font-size: 22px;
                @include breakpoint(max-sm){
                    font-size: 16px;
                    padding: 4px 7px;
                    line-height: 16px;
                }
               }
            }
            &.four{
                color: var(--white-color);
                & i{
                    color: var(--white-color);
                }
            }
        }
        &-body{
            padding: 20px 0;
            margin:  0 30px;
            border-top: 1px solid var(--body-color);
            @include breakpoint(max-xsm){
                margin: 0 20px;
            }
            & span{
                font-family: $Dm;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                color: var(--body-color);


            }
            &.four{
                & span{
                    color: var(--border-color);
                }
            }
        }
    }
    &-inner{
        background-color: transparent;
    }
    &-contact{
        background-color: var(--theme-color);
        padding: 40px;
        border-radius: 10px;
        margin-top: 30px;
       
        @include breakpoint(max-xl){
            padding: 25px 15px;
        }
        @include breakpoint(max-lg){
            padding: 40px;
            margin-bottom: 30px;
        }
        @include breakpoint(max-xsm){
            padding: 25px 15px;
        }
        & h3{
            font-family: $Play;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: var(--white-color);
        }
        & p{
            font-family: $Dm;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: var(--white-color);
        }
        &-item{
            @extend %d-flex,%item-center;
            gap: 15px;
            margin-top: 30px;
            @include breakpoint(max-xl){
                margin-top: 20px
            }
            .icon{
                @extend %d-flex,%item-center,%justify-center;
                width: 35px;
                height: 35px;
                border-radius: 6px;
                border: 1px solid var(--white-color);
                min-width: 35px;
                min-height: 35px;
                & i{
                    color: var(--white-color);
                }

            }
            .info{
                & span{
                    font-family: $Dm;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--white-color);
                    display: block;
                    text-transform: capitalize;
                }
                & a{
                    font-family: $Dm;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    color: var(--white-color);
                    transition: $transition-3-ease;
                    &:hover{
                        color: var(--theme-color3);
                    }
                    @include breakpoint(max-xl){
                        font-size: 18px;
                    }
                    @include breakpoint(max-xsm){
                        font-size: 16px;
                    }
                }
            }
        }
      }
}