@use '../../utils' as *;




.price{
    &-wrapper{
    width: 100%;
    }

    &-monthly{
        width: 100%;
       
    }
    &-yearly{
        width: 100%;
        left: 0;
        bottom: 0;
        visibility: hidden;
        opacity: 0;
        &-active{
            max-width: 100%;
            width: 100%;
            visibility: visible;
            opacity: 1;
        }
    }
    &-item{
        background-color: var(--cream-color);
        border-radius: 10px;
        padding: 40px 0;
        text-align: center;
        transition: $transition-3-ease;

        @include breakpoint(max-lg){
            margin-bottom: 20px;
        }

        & h3{
            text-transform: capitalize;
            font-family: $Play;
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            color: var(--text-color);
        }
        & p{
            margin-top: 10px;
            font-family: $Dm;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: var(--gray-color);
        }
        
    }
    &-rate-area{
        position: relative;
        width: 100%;
        height: 80px;
        margin: 30px 0;
        background-color: var(--theme-color);
        transition: $transition-3-ease;
         @include breakpoint(max-sm){
                height: 65px;
                margin: 20px 0;
                } 
    }
    &-rate{
        display: block;
        font-family: $Dm;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: var(--white-color);
        transition: all 0.3s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
        .price{
            font-size: 40px;
             @include breakpoint(max-sm){
              font-size: 30px;
                } 
        }
      
    }
   
    &-list{
        list-style: none;
        text-align: left;
        margin-left: 90px;
        @include breakpoint(max-xxl){
            margin-left: 20px;
        }
        @include breakpoint(max-lg){
            margin-left: 220px;
        }
        @include breakpoint(max-md){
            margin-left: 120px;
        }
        @include breakpoint(max-sm){
            margin-left: 20%;
        }
        @include breakpoint(max-xsm){
            margin-left: 20px;
        }
        & li{
            font-family: $Dm;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: var(--gray-color);
            margin-bottom: 15px;
            @include breakpoint(max-sm){
                margin-bottom: 7px;
                }       
            & i{
                margin-right: 10px;
                padding: 4px 5.5px;
                font-size: 8px;
                border: 1px solid var(--theme-color);
                border-radius: 100%;
                color: var(--theme-color);
                transform: translateY(-2px);
            }
            &:nth-last-child(1){
                margin-bottom: 0;
            }

        }
    }
    &-btn{
        & a{
            background-color: var(--theme-color);
            display: block;
            padding: 24px 0;
            margin: 40px 40px 0 40px;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 700;
            font-family: $Dm;
            color: var(--white-color);
            text-transform: uppercase;
            transition: $transition-3-ease;
               @include breakpoint(max-sm){
                margin: 30px 40px 0 40px;
                padding: 18px 0;
                font-size: 14px;
                } 
        }
    }
    &-item{
        z-index: 999;
        &:hover{
            .price-rate-area{
            transition: all 1s ease-in-out;
                background-color: none;
                background: linear-gradient(90deg, #021C1B 0%, #09827D 100%);
            }
            .price-btn a{
               background-color: none;
                  background: linear-gradient(90deg, #021C1B 0%, #09827D 100%);
            }
        }

    }

    &-switch {
    position: relative;
    align-items: center;
    width: 60px;
    height: 34px;
    border: 1px solid var(--border-color);
    border-radius: 30px;
    margin: 0 5px;
    z-index: 99;
    transition: $transition-5-ease;

    &-wrapper{
       @extend %d-flex,%item-center,%justify-center;
        .monthly{
        font-family: $Dm;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--gray-color);
        transform: translateY(3px);
        transition: $transition-5-ease;
        &-highlight{
            color: var(--theme-color);
        }
        }
        .yearly{
        transform: translateY(3px);
        font-family: $Dm;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--gray-color);
        transition: $transition-5-ease;
        &-highlight{
            color: var(--theme-color);
        }
        }
    }
    &-toggle{
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transform: translateY(-50%);
        background-color: var(--theme-color);
        left: 5px;
        top: 50%;
        z-index: 990;
        transition: $transition-5-ease;
        &-active{
        // transition: all 1s ease-in-out;
            // left: inherit;
            left: 28px ;
            background-color: var(--white-color);
        }
        }
    &-active{
        background-color: var(--theme-color);
    }
    }

    &-monthly{
        transition: $transition-5-ease;
        &-unactive{
            opacity: 0;
            visibility: hidden;
        }
    }
    &-yearly{
        opacity: 0;
        visibility: hidden;
        transition: $transition-5-ease;
        &-active{
            opacity: 1;
            visibility: visible;
        }
    }


}