@use '../../utils' as *;





.testimonial{
    &-title{
        max-width: 500px;
         @include breakpoint(max-sm){
                max-width: 300px;
            }
    }
    &-prev{
            position: absolute;
            background: var(--white-color);
            left: inherit;
            right: 22%;
            top: -100px;
            width: 55px;
            height: 55px;
            border-radius: 100%;
            transition: $transition-3-ease;
            z-index: 99;
            border: none;
            & i{
                color: var(--text-color);
                transition: $transition-3-ease;
            }
            &:hover{
                background: var(--theme-color);
                & i{
                    color: var(--white-color);
                }
            }
            @include breakpoint(max-xxl){
                right: 24%;
            }
            @include breakpoint(max-lg){
                top: initial;
                bottom: -30px;
                left: calc(50% - 35px);
                transform: translateX(-50%);

            }
           
           
    }
     &-next{
            position: absolute;
            background-color: var(--white-color);
            left: inherit;
            right: 18%;
            top: -100px;
            width: 55px;
            height: 55px;
            border: none;
            border-radius: 100%;
            transition: all 0.3s ease;
            z-index: 99;
           
            & i{
                color: var(--text-color);
                transition: all 0.3s ease;

            }
            &:hover{
                background-color: var(--theme-color);
                & i{
                    color: var(--white-color);
                }
            }
             @include breakpoint(max-lg){
                top: initial;
                bottom: -30px;
                right: calc(50% - 35px);
                transform: translateX(50%);
            }
           
        }
    &-wrapper{
        position: relative;
        @include breakpoint(max-lg){
               padding-bottom: 50px;
            }
    }
    
    &-item{
        

        background-color: var(--cream-color);
        border-radius: 10px;
        padding: 40px;
        margin: 0 17px;
        @include breakpoint(max-xxxl){
            margin: 0 10px;
        }
        .text{
            font-family: $Dm;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: var(--gray-color);
        }
    }
    &-review{
        @extend %d-flex,%justify-between;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-right: 30px;
        .rating{
            @extend %d-flex;
            gap: 5px;
            background-color: var(--white-color);
            padding: 10px 20px;
            border-radius: 10px;

            & i{
                color: var(--theme-color);
                font-size: 15px;
            }
        }
    }
}