

@forward 'hero';
@forward 'blog';
@forward 'counter';
@forward 'cases';
@forward 'cart';
@forward 'checkout';
@forward 'about';
@forward 'service';
@forward 'expart';
@forward 'banner';
@forward 'price';
@forward 'process';
@forward 'products';
@forward 'testimonial';
@forward 'appoiment';
@forward 'history';
@forward 'contact';
@forward 'faq';
@forward 'breadcumb';
@forward 'error';